#middle {
	width: 100%;
	margin: 0;
	background-color: transparent;
	opacity: 1;
	padding: 0;
	margin-bottom: 100px;
}

.board {
	padding: 16px 1% 0;
	list-style: none;
	margin-left: auto;
	margin-right: auto;
}

.board .note {
	display: inline-block;
	vertical-align: top;

	/*float: left;*/

	width: 200px;
	background-color: #FFFF88;
	margin: 2px;
	min-height: 150px;
	padding: 10px;
}

input#nextpage {
	height: 64px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#bottom {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}